.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.loginButton {
  margin: 40px 0;
  padding: 20px;
  background-color: #3d77a5;
  border: none;
  box-shadow: 5px 9px 15px -5px rgb(203, 199, 199);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
}

.loginButton:hover {
  transform: translateY(5px);
  box-shadow: none;
}
