nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(9, 169, 49);
  gap: 45px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: rgb(234, 189, 68);
  transition: all 0.3s;
}

nav a svg {
  margin-right: 5px;
}
